*{
  font-family: Poppins, sans-serif;
}

/* ====== Navigation Bar ====== */

.navbar {
  background-color: transparent;
  height: 80px;
  padding: 0.5rem;
}

.navbar-img {
  height: auto;
  width: auto;
  max-height: 40px;
  min-height: 30px;
  margin-right: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: #00b0dc;
  font-size: 24px;
  transition: 0.3s color;
  width: 10%;
}

.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar.scrolled {
  background-color: #89A8B2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-link {
  color: #F1F0E8;
}

.navbar.scrolled .nav-link.active {
  color: #274C77;
}

.navbar.scrolled .nav-link:hover, 
.navbar.scrolled .nav-link.active:hover {
  color: #274C77;
}

.nav-link {
  color: #F1F0E8;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link.active{
  color: #B3C8CF;
}

.nav-link:hover, .nav-link.active:hover {
  color: #B3C8CF;
}

.nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link.dropdown-toggle span:hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 1.3px;
  width: 100%;
  background-color: #F1F0E8;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-link:not(.dropdown-toggle):hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 1.3px;
  width: 100%;
  background-color: #F1F0E8;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.offcanvas{
  background-color: #89A8B2;
}

@media (min-width: 991px) {
  .nav-link:hover::before, .nav-link.active:hover::before {
      width: 100%;
      visibility: visible;
  }
}

@media (max-width: 767.98px) {
  .navbar {
      padding: 0.5rem 0.5rem;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .navbar-brand {
      padding: 0;
      margin-right: 0.5rem;
      font-size: 18px;
  }
  .navbar-brand img {
      height: 15px;
      width: auto;
  }
  .navbar-toggler {
      font-size: 0.9rem;
      padding: 0.5rem;
      position: relative;
      top: 5px;
  }
  .navbar-nav .nav-link {
      padding: 0.3rem 0;
  }

  .nav-link:hover::after {
    background-image: linear-gradient(to right, #F1F0E8, #F1F0E8);
}

  .offcanvas-header {
      padding: 0.5rem 1rem;
  }
  .offcanvas-title img {
      height: 50px;
      width: auto;
      margin-right: 0.5rem;
  }
  .offcanvas-body .nav-link {
      padding: 0.25rem 0;
  }
  .login-button {
      padding: 0.25rem 0.5rem;
  }
}

.offcanvas-title img {
  height: auto;
  width: auto;
  max-height: 30px;
  min-height: 20px;
  margin-right: 0.5rem;
}

.offcanvas-title {
  color: #00b0dc;
  margin-top: 1rem;
}

.bookAppointment {
  padding: 10px 20px;
  background-color: #274C77;
  color: #F1F0E8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 40px;
  font-weight: 500;
  padding: 7px 15px;
  width: 200px;
}

.bookAppointment:hover{
  background-color: #F1F0E8;
  color: #274C77;
}

@media (max-width: 991px) {
  .nav-link.nav-link.active {
      color: #274C77;
  }
}

/* ====== Hero Section ====== */

.hero-section {
  background: url('/assets/img/bgimg1.png') no-repeat center center;
  background-size: 100% 100%; 
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: #F1F0E8;
  padding: 4rem 8rem;
  overflow: hidden;
}


.hero-section .container {
  position: relative;
  z-index: 1;
}

.hero-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 0rem;
  padding-left: 4rem;
  color: #F1F0E8;
  width: 70%;
}

.hero-desc {
  font-size: 1.3rem;
  margin-top: 0rem;
  padding-left: 6.5rem;
  line-height: 1;
  color: #000000;
  width: 70%;
}


.hero-stats-desc{
  color: #F1F0E8;
}

.hero-section img {
  max-width: 80%;
  height: auto;
  margin-bottom: 1rem;
}

.hero-section .card {
  background-color: #f4f8fd1a;
  border-radius: 15px;
  padding: 16px 33px;
  text-align: center;
  backdrop-filter: blur(3px);
  color: #F1F0E8;
  border: none;
  width: 220px;
  height: 150px;
  justify-content: center;
}

.stats-group {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .stats-group {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.hero-section .card h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #6096BA;
}

.hero-section .card p {
  font-size: 1rem;
  opacity: 0.8;
  color: #F1F0E8;
}

@media (max-width: 767px) {
  .stats-group {
    display: none;
  }
}

@media (max-width: 991px) {
  .hero-heading {
    font-size: 2rem;
  }

  .hero-desc {
    font-size: 1rem;
  }

  .hero-section {
    height: auto;
    padding: 3rem 1rem;
  }

  .hero-section img {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .hero-heading {
    font-size: 1.8rem;
  }

  .hero-desc {
    font-size: 0.9rem;
  }

  .hero-heading, .hero-desc {
    width: 90%;
    text-align: center;
  }
}

@media (min-width: 992px){
  .col-lg-6{
      width: 100%;
  }
}

/* CTA Container - Centering the button and message */
.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.cta-button {
  padding: 1rem 6rem;
  font-size: 1.2rem; 
  color: #F1F0E8; 
  background-color: #A3CEF1; 
  text-decoration: none; 
  border-radius: 50px; 
  transition: background 0.5s ease;
  text-align: center;
  margin-bottom: 15rem;
}


.cta-button:hover {
  background-color: #89A8B2;
}

/* Scroll Message */
.scroll-message {
  text-align: center;
  font-size: 1.2rem; 
  color: #333;
}

.meditation-prompt-container {
  text-align: center;
  margin: 3rem 0;
  margin-top: 7.5rem;
}

.meditation-prompt-container h2 {
  font-size: 2rem;
  color: #274C77;
}

.meditation-prompt-container p {
  font-size: 1.2rem;
  color: #89A8B2;
}

/*audio player*/
.custom-audio-player {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 16px;
  background: #E8E5DF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.audio-title {
  font-size: 2rem;
  font-weight: bold;
  color: #274C77;
  margin-bottom: 1rem;
}
.audio-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.play-btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: #274C77 url('/assets/img/play-icon.png') no-repeat center;
  background-size: 40%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.play-btn.pause {
  background: #274C77 url('/assets/img/pause-icon.png') no-repeat center;
  background-size: 40%;
}

.audio-controls span {
  font-size: 1rem;
  color: #7E8A94;
}

#seekBar {
  flex: 1;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: #6C757D;
  outline: none;
  border-radius: 5px;
}

#seekBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #274C77;
  cursor: pointer;
}

/* Guided Meditation Section*/
.guided-meditation-section {
  background: url('/assets/img/bgimg2.png') no-repeat center center;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: #F1F0E8;
  padding: 4rem 8rem;
  overflow: hidden;
}

/* Content Styling (Inside the Background Image) */
.guided-meditation-section .content {
  max-width: 700px;
}

/* Title Style */
.guided-meditation-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* ====== Footer ====== */

.footer {
  background-color: #89A8B2;
  padding: 0;
  overflow-y: auto;
}

.footer img {
  max-width: 100%;
  height: auto;
}

.footer h5 {
  color: #274C77;
  margin-bottom: 0.5rem;
}

.footer h6,
.footer p {
  color: #F1F0E8;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #6c757d;
}

.footer a:hover,
.footer a:active {
  color: #F1F0E8;
}

.footer .footer-link {
  font-weight: 500;
}

.footer .footer-link:hover,
.footer .footer-link:active {
  color: #F1F0E8 !important;
}

@media (max-width: 767.98px) {
  .footer h5,
  .footer h6,
  .footer p,
  .footer a {
    font-size: 0.875rem;
  }
}

body {
  overflow-x: hidden;
  font-synthesis: 15px;
}

a {
  text-decoration: none;
}